# Crear features categoricas

En terminos de machine learning a las features que pueden tomar un numero finito de valores se les llama categoricas.Ejemplos para esto son:
    genero, pais, academico, etc.

Un mapeo del tipo {Peru,Chile,Colombia,Venezuela} --> {1,2,3,4} tiene el problema de asignarle un orden a los valores posibles de la categoria.
Este orden impacta de distintas maneras los algoritmos de Mahcine Learning, por ejemplo aquellos que dependen  de la topologia de Rn y de la funcion de 
distancia entre puntos en este eespacio, consideraran que ciertas categorias se encuentran mas cercanas unas a otras, siendo que esto es generado
puramente artificialmente por el encoding, y no por los datos per se.
Para no introducir informacion falsa o erronea en nuestros modelos existen formas mas inteligentes de encodear nuestros datos.
Encoding one-hot
Este enconding consiste en aginarle una columna a cada categoria y rellenarla con 0 y 1 de la forma siguiente:

In [3]:
import pandas as pd
import numpy as np

d = pd.DataFrame([['chile','colombia','colombia','venezuela'],['hombre','mujer','hombre','mujer']])
d = d.T
d.columns = pd.Index(['pais','genero'])
d

        pais  genero
0      chile  hombre
1   colombia   mujer
2   colombia  hombre
3  venezuela   mujer

In [4]:
pd.get_dummies(d)

   pais_chile  pais_colombia  pais_venezuela  genero_hombre  genero_mujer
0           1              0               0              1             0
1           0              1               0              0             1
2           0              1               0              1             0
3           0              0               1              0             1

Sklearn tmabien ofrece un objeto OneHotEncoder pero es un poco mas dificil de uitlizar, asi que por criterios pedagogicos hemos elegido
pd.get_dummies.
Sin embargo el objeto de sklearn tiene la ventaja de ser pipeable, por lo que es bueno considerarlo para ciertos casos de uso.

Cuantas columnas generariamos con un one-hot encoding de nuestras features categoricas?

In [6]:
movies_obj = pd.read_csv('/home/algoritmia/Dropbox/ml_intro/vol/intermediate_results/intermediate_results/movies_obj.csv')

In [7]:
movies_obj.apply(pd.Series.nunique).sort_values()

color                2
content_rating      18
language            47
country             65
genres             914
actor_1_name      2097
director_name     2398
actor_2_name      3032
actor_3_name      3521
plot_keywords     4760
movie_title       4917
dtype: int64